 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 446px;
}

.u-section-1 .u-tabs-1 {
  min-height: 445px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 11px auto 0 273px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -21px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  margin: 15px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -171px auto 0 294px;
  padding: 3px 30px 5px;
}

.u-section-1 .u-text-3 {
  margin: 32px auto 0 314px;
}

.u-section-1 .u-text-4 {
  margin: 99px auto 0 53px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-1 .u-image-2 {
  width: 111px;
  height: 111px;
  margin: 25px auto 0 22px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  background-image: none;
  margin: -102px auto 0 199px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  background-image: none;
  margin: -21px auto 0 458px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  background-image: none;
  margin: 15px auto 0 199px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -6px auto 0 480px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  background-image: none;
  margin: -21px auto 0 199px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 52px 11px 0;
}

.u-section-1 .u-image-3 {
  width: 111px;
  height: 111px;
  margin: 31px auto 0 22px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  background-image: none;
  margin: -102px auto 0 199px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  background-image: none;
  margin: -21px auto 0 458px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  background-image: none;
  margin: 15px auto 0 199px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -6px auto 0 480px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  background-image: none;
  margin: -21px auto 0 199px;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 40px 0 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 10px 65px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px auto 0;
  padding: 9px 44px 11px 43px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 9px 63px 11px 61px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0;
  padding: 9px 57px 11px;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 19px auto 0;
  padding: 9px 104px 11px 103px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px auto 0;
  padding: 9px 37px 11px 36px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 42px 12px 41px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0;
  padding: 10px 36px 12px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 259px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -7px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -7px;
    margin-left: 280px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 376px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 280px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 209px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 286px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 60px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 286px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 157px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 148px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 148px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 148px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 148px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 148px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 148px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 99px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -93px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -394px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 91px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -30px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: -51px;
    margin-right: -51px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: -52px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: -52px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: -52px;
  }
}